@font-face {
    font-family: 'Black Way';
    src: url('BlackWayPersonalUse.woff2') format('woff2'),
        url('BlackWayPersonalUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Black.woff2') format('woff2'),
        url('Gotham-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham';
    src: url('Gotham-Bold.woff2') format('woff2'),
        url('Gotham-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Melon Honey';
    src: url('Melon.woff2') format('woff2'),
        url('Melon.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

